/* CSS for Narvaro */

#enterDataPane
{
    -fx-background-image: url("background.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

#viewDataPane
{
    -fx-background-image: url("background.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

#graphDataPane
{
    -fx-background-image: url("background.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

.label {
    -fx-font-size: 1.1em;
}